<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Premium Calculator</h2>
                <form [formGroup]="userInforForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': form.name.errors}" />
                        <div *ngIf="form.name.errors" class="invalid-feedback">
                            <div *ngIf="form.name.errors.required">Name is required</div>
                        </div>

                        <label for="dob">Date of Birth</label>
                        <my-date-picker id="dob" name="dob" [options]="dobDatePickerOptions" formControlName="dob" [ngClass]="{'is-invalid': form.dob.errors}"></my-date-picker>
                        <small id="ageInfo" class="form-text text-muted" *ngIf="getAge() > -1">Your age: {{ getAge() }}</small>
                        <div *ngIf="form.dob.errors" class="invalid-feedback">
                            <div *ngIf="form.dob.errors.required">Date of birth is required</div>
                        </div>

                        <label [ngClass]="{'is-invalid': form.gender.errors}">Gender</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" formControlName="gender" name="gender" id="maleGender" [value]="genders.Male">
                            <label for="gender" class="form-check-label">Male</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" formControlName="gender" name="gender" id="femaleGender" [value]="genders.Female">
                            <label for="gender" class="form-check-label">Female</label>
                        </div>

                        <div *ngIf="form.gender.errors" class="invalid-feedback">
                            <div *ngIf="form.gender.errors.required">Gender is required</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" *ngIf="userInforForm.status === 'VALID' && calculatePremium() > -1">
            <div class="col-md-6 offset-md-3">
                <div class="alert alert-primary" role="alert">
                    Premium: {{ calculatePremium() }}
                </div>
            </div>
        </div>
    </div>
</div>